html {
  scroll-behavior: smooth;
  /* Do this later!
  scroll-snap-type: y mandatory; */
}

/* Variables */
:root {
  --primary-color: #F07611;
  --primary-text-color: #F99644;
  --seconday-text-color: white;

  --primary-bg-color: black;

  --primary-font-family: 'Poppins', sans-serif;
}

/* End of Variables */

/* Colors 
.color-primary-0 { color: #E07822 }	
.color-primary-1 { color: #FFB67A }
.color-primary-2 { color: #EE964D }
.color-primary-3 { color: #B3590F }
.color-primary-4 { color: #8C3F00 }
*/

/* CUSTOM SCROLLBAR */
/* 
::-webkit-scrollbar {
  display: none;
  width: 0.7em;
  height: 15px;
  overflow: auto;
}

::-webkit-scrollbar-track {
  background: #ffffffea;
  border-radius: 100vw;
  margin-block: 0.2em;
}

::-webkit-scrollbar-thumb {
  background: #AAAAAA;
  border: 0.15em solid #0f0f0fea;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: #717171;
} 
*/

/* End of Custom Scrollbar */

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

i {
  filter: invert(.4);
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

body {
  margin: 0;
  background: var(--primary-bg-color);
  /* background: rgb(5, 1, 3);
  background: radial-gradient(circle, rgba(5, 1, 3, 1) 0%, rgba(0, 27, 59, 1) 100%); */
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Kanit', sans-serif; */
  /* font-family: 'M PLUS 1', sans-serif; */
  overflow-x: hidden;
  position: relative;
}

p {
  color: var(--seconday-text-color);
  text-align: left;
  font-size: 1.4rem;
  line-height: 1.9rem;
}

.bg-wrapper {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8));
}

.section-header {
  padding-top: 5.625em;
  text-align: center;

  h3 {
    margin-bottom: 0.5em;
  }

  .line-red {
    margin: 2.5em auto 2.9375em auto;
  }
}

.line-red {
  display: block;
  width: 4em;
  height: 0.1875em;
  margin: 0 auto;
  background: #f38181;
}

/* Reveal Elements on Scroll Down */
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

/* End of Reveal Elements on Scroll Down */

/* Popup Section */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: none;
  transition: all 1s;
}

.contentBox {
  position: relative;
  width: 650px;
  height: 400px;
  background: rgba(0, 0, 0, 0.99);
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.contentBox .imgBx {
  position: relative;
  width: 130px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentBox .imgBx img {
  position: relative;
  max-width: 115px;
}

.contentBox .content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 5rem;
  line-height: 2.5rem;
}

.contentBox .content p {
  margin: 0px;
}

.contentBox .close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background: var(--primary-color);
  border-radius: 25px;
  cursor: pointer;
}

/* End of Popup Section */

/* Scroll Up Button */
.scrollTop {
  position: fixed;
  bottom: 0px;
  right: 40px;
  width: 60px;
  height: 60px;
  background: #5757575b;
  border-radius: 50%;
  background-size: 40px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

.scrollTop.active {
  bottom: 40px;
  visibility: visible;
  opacity: 1;
}

/* End of Scroll Up Button */

/* HEADER */
/* .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  border-radius: 0px;
  z-index: 10;
} */

.header:hover {
  background-color: rgba(255, 255, 255, 0.7);
  transition: .5s;
}

.header:not(:hover) {
  transition: .5s;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  align-items: center;
  padding: 1px 50px;
  transition: .5s;
  z-index: 10;
}

/* navbar background when not at the top */
.nav_black {
  background-color: var(--primary-bg-color);
}

/* Home Logo in Nav Bar */

.home-logo-container {
  width: 200px;
  height: 25px;
}

.home-logo-container:hover {
  cursor: pointer;
  transition: .6s;
  transform: scale(1.1);
}

.home-logo {
  position: relative;
  max-width: 100%;
  height: 100%;
  color: inherit;
  filter: invert(.5);
  text-decoration: none;
}

/* End of Home Logo in Nav Bar */

/* Middle Area in Nav Bar */
.nav-middle-buttons {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 0px 30px;
}

/* Middle Buttons in Nav Bar */
.nav-middle-buttons li {
  margin-inline: 5px;
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
  /* background-color: rgba(255, 255, 255, 0.466); */
  /* border: 0.2rem solid; */
  border-color: #ddddddd3;
  border-radius: 10px;
  cursor: pointer;
}

nav ul li {
  position: relative;
}

nav ul li:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: .6s;
}

/* Middle texts inside the boxes in Header Nav Bar */
nav ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: light;
  position: relative;
}

nav ul li a:hover {
  transition: .4s;
}

/* Social Media Buttons Top Nav Bar */
.socialtop {
  float: right;
  padding-right: 150px;
}

.top-social {
  padding: 14px 15pxs;
}

/* Individual Social Media Buttons Top Nav Bar */
.top-social a {
  padding: 10px;
  color: black;
}

.top-social i:hover {
  transition: .6s;
  transform: scale(1.2);
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

/* Nav Bar Hover Line Effect */

nav ul li a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.1rem;
  background-color: #ffffff;
  bottom: 0;
  left: 0;
}

nav ul li a::after {
  transform: scale(0, 1);
  transition: transform 0.4s ease-in-out;
}

nav ul li a:hover::after {
  transform: scale(1, 1);
}

/* Center Transform */
/* nav ul li a::before{
  content: '';
  height: 3px;
  width: 100%;
  background-color: #000;
  position: absolute;
  bottom: 0%;
  width: 0%;
  transform: scale(0, 1.5);
  transition: transform 1500ms ease;
}

nav ul li a:hover::before {
  width: 100%;
  transform: scale(1, 0);
} */


/* HERO Section */
#hero {
  /* background-image: url(./img/space.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  position: relative;
  z-index: 1;
  background: rgb(0, 6, 31);
  background: linear-gradient(0deg, rgba(0, 6, 31, 1) 19%, rgb(2, 20, 56) 97%);
}

#hero::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  /* background-color: black;
  opacity: .35;
  z-index: -1; */
}

#hero .hero {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  justify-content: center;
}

#hero h1 {
  /* transition: all 2s ease; */
  display: block;
  width: fit-content;
  margin: -16rem;
  font-family: 'Days One', sans-serif;
  font-size: 13rem;
  position: relative;
  /* color: var(--primary-text-color); */
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
}

#hero p {
  font-size: 2rem;
  color: var(--seconday-text-color);
}

#hero img {
  position: absolute;
  height: 100%;
  top: 50px;
  left: -35px;
}

.banner--fadeBottom {
  margin-top: 35px;
  height: 5rem;
  background-image: linear-gradient(180deg, transparent, rgba(0, 8, 27, 0.603), #00021a);
}

/* End of Hero Section */

/* Swiper Section */
.swiper {
  cursor: pointer;
  max-width: 50%;
  max-height: 30rem;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
}

/* End of Swiper Section */

/* Carousel Section */
#carousel-1 {
  padding: 5rem 10rem;
}

.carousel {
  position: relative;
  height: 600px;
  width: 85%;
  margin: 0 auto;
}

.carousel-txt {
  display: flex;
  justify-content: center;
  padding: 2rem;
  text-transform: uppercase;
  font-size: 2rem;
}

.carousel__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.carousel__track-container {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 350ms ease-in;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
}

.carousel__button--left {
  left: -65px;
}

.carousel__button--right {
  right: -60px;
}

.carousel__button i {
  width: 30px;
}

.carousel__nav {
  display: flex;
  justify-content: center;
  padding: 15px 0;
}

.carousel__indicator {
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: rgba(255, 255, 255, 0.3);
  margin: 0 12px;
  cursor: pointer;
}

.carousel__indicator.current-slide {
  background: rgba(255, 255, 255, 0.75);
}

.is-hidden {
  display: none;
}

/* End of Carousel Section */

/* Slider Section */
.slider {
  position: relative;
  padding: 0 22.5vw;
  display: flex;
  align-items: center;
  height: 100%;
  user-select: none;
  cursor: grab;
  z-index: 2;

  &__inner {
    display: flex;
    position: relative;
  }
}

.slide {
  overflow: hidden;

  &:first-child {
    position: relative;
  }

  &:not(:first-child) {
    position: absolute;
    top: 0;
    height: 100%;
  }

  &__inner {
    position: relative;
    overflow: hidden;
    width: 55vw;
    padding-top: 56.5%;
  }

  img {
    display: none;

    /*
    height: 100%;
    width: 140%;
    position: absolute;
    top: 0;
    left: -20%;
    object-fit: cover;
    will-change: transform;
    */
  }
}


/* End of Slider Section */

/* Image Slider Section 
#img-slider {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1D212b;
}

.img-slider {
  position: relative;
  width: 1000px;
  height: 400px;
  margin: 10px;
  background: #1D212b;
}

.img-slider .slide {
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 55%);
}

.img-slider .slide.active {
  clip-path: circle(150.0% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.img-slider .slide img {
  z-index: 1;
  width: 100%;
  border-radius: 5px;
}

.img-slider .slide .info {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  padding: 15px 40px;
}

.img-slider .slide .info h2 {
  color: #fff;
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

.img-slider .slide .info p {
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
  font-size: 1em;
  width: 60%;
  padding: 10px;
  border-radius: 4px;
}

.img-slider .navigation {
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%)
}

.img-slider .navigation .btn {
  background: rgba(255, 255, 255, 0.5);
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.img-slider .navigation .btn.active {
  background: #2696e9;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
*/

/* End of Image Slider Section */


/* Service Section */

#services .services {
  flex-direction: column;
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
}

#services .section-title {
  font-size: 4rem;
  font-weight: 400;
  color: var(--primary-text-color);
  margin: 3rem;
  text-transform: uppercase;
  letter-spacing: .5rem;
  text-align: center;
}

#services .section-title span {
  color: crimson;
}

#services .service-top p {
  font-size: 2rem;
  color: var(--seconday-text-color);
  text-align: center;
  margin: 4rem auto;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
}

/* Service Bottom Section - Cards */
#services .service-bottom-grid {
  display: grid;
  gap: 1.5rem;
  grid-auto-columns: 1fr;
  grid-template-areas:
    'one'
    'two'
    'three'
    'four'
    'five';
  padding: 0px 30px;
  border-radius: 10px;
}

#services .service-item:nth-child(1) {
  grid-area: one;
}

#services .service-item:nth-child(2) {
  grid-area: two;
}

#services .service-item:nth-child(3) {
  grid-area: three;
}

#services .service-item:nth-child(4) {
  grid-area: four;
}

#services .service-item:nth-child(5) {
  grid-area: five;
}

@media (min-width: 30em) {
  #services .service-bottom-grid {
    grid-template-areas:
      'one one'
      'two five'
      'three five'
      'four four'
  }
}

@media (min-width: 60em) {
  #services .service-bottom-grid {
    grid-template-areas:
      'one one two five'
      'three four four five'
  }
}

#services .service-item {
  border-radius: 10px;
  padding: 30px;
  background-image: url(./img/car1low.jpg);
  background-size: cover;
  background-position: 30%;
  position: relative;
  z-index: 1;
}

#services .service-item::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: .5;
  z-index: -1;
}

#services i {
  height: 80px;
  width: 80px;
  margin-top: 20px;
  margin-bottom: 0px;
  filter: invert(1);
}

#services .service-item h2 {
  font-size: 2rem;
  color: var(--primary-text-color);
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

#services .service-item p {
  text-align: center;
  color: var(--seconday-text-color);
}

/* End of Service Section */

/* Promotion Section */
.middlebody {
  padding: 10px 100px 100px;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middlebody .content {
  max-width: 600px;
}

/* Text in Middlebody Content */
.middlebody .content h2 {
  font-size: 3em;
  color: var(--primary-text-color);
}

.middlebody .content p {
  font-size: 1em;
  color: var(--seconday-text-color);
}

.middlebody .content a {
  display: inline-block;
  background: #fff;
  color: #000;
  padding: 5px 12px;
  text-decoration: none;
  font-weight: 600;
  margin-top: 20px;
  border-radius: 20px;
}

.middlebody .img {
  margin-left: 100px;
}

.middlebody i {
  filter: invert(0);
  max-width: 400px;
}

/* Contact Section */
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 140px 120px 200px;
}

.contact-text h2 {
  color: var(--primary-text-color);
  text-align: center;
}

.contact-text p {
  font-size: 1em;
  text-align: center;
  color: var(--seconday-text-color);
}

/* Bottom social media buttons */
.low-social {
  display: flex;
  justify-content: center;
}

.low-social a {
  padding: 10px;
  color: rgb(255, 255, 255);
}

.low-social i:hover {
  transition: .6s;
  transform: scale(1.2);
}

/* End of Bottom social media buttons */

/* End of Contact Section */

/* Button */

.button:hover {
  color: var(--primary-color);
  transform: scale(1.1);
  cursor: pointer;
  transition: .6s;
}

/* End of Button */

/* FOOTER */
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgb(0, 1, 18);
  background: linear-gradient(0deg, rgba(0, 1, 18, 1) 0%, rgba(0, 31, 92, 1) 100%);
  color: white;
  text-align: center;
}

.footer p {
  text-align: center;
}


/* Responsive Design */
/* MAX */

@media (max-width:1160px) {

  nav {
    padding: 15px 0px;
    justify-content: center;
    flex-direction: column;
    height: 5%;
  }

  nav .socialtop {
    display: none;
  }

  .nav-middle-buttons {
    display: none;
  }

  .home-logo-container {
    width: 220px;
    height: 25px;
  }

  #hero .hero {
    max-width: 750px;
    margin: 0 auto;
    padding: 0 2rem;
  }

  #hero .hero h1 {
    font-size: 8rem;
  }

  #hero .hero p {
    font-size: 1.5rem;
  }

  #hero img {
    height: auto;
    max-width: 1000px;
    left: -15px;
  }

  .middlebody {
    padding: 150px 20px 130px;
    flex-direction: column-reverse;
  }

  .middlebody .img {
    margin-left: 0px;
    padding-top: 0px;
  }

  .middlebody .img i {
    font-size: 500%;
  }

}

@media (max-width: 820px) {

  #hero img {
    transition: opacity 250ms, display 200ms;
    opacity: 0;
  }

  .swiper {
    direction: vertical;
    margin: 10rem;
    max-width: 100%;
    max-height: 12rem;
  }

  .swiper-button-prev,
  .swiper-button-next {
    visibility: hidden;
  }

  /* .swiper img {
    object-fit: cover;
  } */

  .img-slider {
    width: 600px;
    height: 375px;
  }

  .img-slider .slide .info {
    padding: 10px 25px;
  }

  .img-slider .slide .info p {
    width: 70%;
    font-size: 15px;
  }

  .img-slider .navigation {
    bottom: 25px;
  }

  .img-slider .navigation .btn {
    width: 10px;
    height: 10px;
    margin: 8px;
  }
}

@media (max-width:750px) {
  .scrollTop {
    bottom: 0px;
    right: 40px;
    width: 60px;
    height: 60px;
  }

  nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 10px;
    justify-content: center;
  }

  nav ul li a {
    font-size: 1em;
  }

  .middlebody {
    padding: 175px 20px 130px;
    flex-direction: column-reverse;
  }

}

@media (max-width: 420px) {
  #hero .hero h1 {
    font-size: 2rem;
  }

  #hero .hero p {
    font-size: 1.5rem;
  }

  .img-slider {
    width: 330px;
    height: 350px;
  }

  .img-slider .slide .info {
    padding: 10px 25px;
  }

  .img-slider .slide .info p {
    width: 70%;
    font-size: 15px;
  }

  .img-slider .navigation {
    bottom: 25px;
  }

  .img-slider .navigation .btn {
    width: 10px;
    height: 10px;
    margin: 8px;
  }
}